:root {
  font-family: "Inter", sans-serif;
  color: #000000;
  background-color: #FFFFFF;
}

.content {
  padding: 40px;
}

.title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 30px;
}

.buttonPrimary {
  border-radius: 10px;
  border: 2px solid #000000;
  padding: 15px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  background-color: #EAEAEA;
  color: #000000;
  cursor: pointer;
  transition: border-color 0.25s;
}

